* {
    margin: 0;
}

header {
    height: 10vh;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.to-do-container {
    display: flex;
    align-items: center;
    font-family: cursive;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(35, 70, 99, 0.8);
    outline: none;
}

.to-do-input {
    font-family: cursive;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 30px 0 0 30px;
    width: 50vh;
}

.add-button {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    color: white;
    background-color: rgb(35, 70, 99);
    padding: 16px 20px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    outline: none;
    transition: opacity 0.25s;
}

.add-button:hover {
    opacity: 0.8;
}

.add-button:active {
    opacity: 0.6;
}

#menu-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#logo-icon {
    cursor: pointer;
}

#logo-icon img {
    /* Set logo size on desktop */
    width: 90px;
}

#menu-icon img {
    /* Set menu icon size on desktop */
    width: 65px;
}

.menuBtn {
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 25, 0);
}

.menuBtn:hover, .menuBtn:focus {
    opacity: 0.7;
}

.modalContent {
    position: relative;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
    height: 80vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #fefefe;
    border-radius: 10px;
    padding: 30px;
    overflow-y: auto;
}


.modalContent .taskList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modalContent .taskList > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 20px;
}

.modalContent .todoDelete {
    background: none;
    border: none;
    color: red;
    font-size: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-close-btn {
    border: none;
    color: #aaa;
    font-size: 58px;
    font-weight: bold;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.modal-close-btn:hover, .modal-close-btn:focus {
    color: #333;
    text-decoration: none;
}

.is-visible {
    display: flex;
}

.modalContent h2 {
    font-family: cursive;
    color: rgb(35, 70, 99);
    margin-bottom: 20px;
    font-weight: bold;
}

@media (max-width: 600px) {
    header {
        padding: 10px 15px;
    }

    #logo-icon img {
        width: 70px;
    }

    #menu-icon img {
        width: 45px;
    }

    main {
        padding: 0 15px;
    }

    .to-do-container {
        display: flex;
        padding: 0 10px 0 10px;
        flex-direction: column;
        align-items: center;
        width: 90%;
        box-shadow: none;
        border: px solid #ccc;
        border-radius: 30px;
    }

    .to-do-input {
        width: 100%;
        padding: 15px 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 30px;
        font-size: 16px;
    }

    .add-button {
        width: 100%;
        padding: 12px 10px;
        border-radius: 30px;
    }

    .modalContent {
        width: 95%;
        height: 90vh;
        padding: 20px 15px;
        border-radius: 0;
    }
}

.todo-checkbox {
    margin-right: 10px;
    transform: scale(1.2);
    vertical-align: middle;
}

.completed {
    text-decoration: line-through;
    color: #888;
}